.container {
  display: flex;
  width: 100%;
  min-height: 53px;
  padding: 8px 16px;
  justify-content: space-between;
  border-radius: 4px;
  background: var(--color-grey-100);
  align-items: center;
  transition: all ease-in-out 0.15s;
}

.textGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
}

.container[data-state="open"] {
  background: var(--color-grey-200);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.carret {
  transition: transform ease-in-out 0.15s;
}

.container[data-state="open"] .carret {
  transform: rotate(-180deg);
}
